/*Global Styles*/

@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Medium-FD-WOL.ttf") format("truetype"),
    url("../../fonts/Vazir-Medium-FD-WOL.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Bold-FD-WOL.ttf") format("truetype"),
    url("../../fonts/Vazir-Bold-FD-WOL.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Light-FD-WOL.ttf") format("truetype"),
    url("../../fonts/Vazir-Light-FD-WOL.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: vazir;
  src: url("../../fonts/Vazir-Thin-FD-WOL.ttf") format("truetype"),
    url("../../fonts/Vazir-Thin-FD-WOL.woff") format("woff");
  font-weight: 200;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: vazir;
  font-weight: 400;
}

.container {
  display: grid;
  height: 100%;
}

.container.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 50px;
  background-color: rgba(231, 231, 231, 0.2);
}

.container.payment {
  display: flex;
  flex-direction: column;
  background-color: rgba(231, 231, 231, 0.2);
}

.container.payment .main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 50px;
}

.main-content {
  height: 100%;
}

.shopping-cart .main,
.delivery .main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

section {
  display: flex;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Header Styles*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  height: 80px;
  box-shadow: 0px 2px 6px #efefef;
  background-color: #fff;
}

.menu ul {
  display: flex;
  gap: 30px;
}

.menu ul li a {
  text-decoration: none;
}

.logo {
  font-weight: 600;
}

.left-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  padding: 5px 0;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 2rem;
}

.search-bar i {
  font-size: 20px;
}

/*User Profile Styles*/

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.user-profile i {
  font-size: 30px;
  color: #0075ff;
  cursor: pointer;
}

.user-menu {
  display: none;
  position: absolute;
  width: 50%;
  top: 100%;
  left: 0;
  box-shadow: 0px 2px 6px #c8c8c8;
  border-radius: 3px;
  background-color: #fff;
  padding: 15px;
  font-size: 14px;
}

.user-menu.active {
  display: block;
}

.user-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-menu ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Controls Styles*/

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
ّ select,
textarea {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px 8px 8px 0;
}

.search-bar input {
  padding-left: 30px;
}

label {
  white-space: nowrap;
}

select {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.address-container select,
.address-container textarea,
.address-container input {
  width: 60%;
}

/*Footer Styles*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 20px 100px;
  background-color: rgba(217, 217, 217, 0.2);
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

/*Filter Bar Styles*/

.filter-bar {
  display: flex;
  flex-direction: column;
  flex-basis: 380px;
  height: 100%;
  gap: 30px;
  padding: 30px 20px;
  box-shadow: 0px 2px 6px #efefef;
}

fieldset {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 14px;
  padding: 15px;
}

legend {
  font-weight: 500;
  margin-bottom: 10px;
}

.filter-bar .show-range {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  min-width: 30px;
  text-align: center;
}

.filter-bar .show-range span {
  font-size: 12px;
  font-weight: 500;
}

.filter-bar .range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="range"] {
  width: 100%;
}

.filter-bar .style ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter-bar .style ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/*Product List Styles*/

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  flex: 70%;
  padding: 50px 0;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product img {
  height: 300px;
  border-radius: 3px;
  cursor: pointer;
}

.product-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px 10px;
}

/*Product Detail Styles*/

.product-detail-container {
  display: flex;
  flex: 100%;
  align-items: center;
  gap: 50px;
  padding: 50px 10px;
}
.product-detail-container img {
  height: 400px;
}

.products-detail-caption {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 30px;
  padding-top: 30px;
}

.product-detail-desc {
  text-align: justify;
  padding: 20px;
  border-right: 1px solid #e7e7e7;
}

/*Shopping Cart Icon Styles*/

.cart-icon-container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.cart-icon-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: -50%;
  left: 50%;
}

/*Shopping Cart Styles*/

.cart-container,
.cart-calc {
  padding: 30px;
  box-shadow: 0px 0px 12px 3px #efefef;
}

.cart-container table {
  width: 100%;
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
}

.cart-container table th {
  border: 1px solid #e7e7e7;
  padding: 20px;
}

.cart-container table td {
  text-align: center;
  border: 1px solid #e7e7e7;
  padding: 50px;
  white-space: nowrap;
}

.cart-list td img {
  height: 200px;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
}

.cart-list td i {
  cursor: pointer;
}

.cart-count-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  padding: 3px 6px;
}

.cart-count-div i {
  color: #0075ff;
}

.cart-calc {
  display: none;
  flex-direction: column;
  gap: 30px;
  align-self: flex-end;
  width: 30%;
}

.cart-calc.active {
  display: flex;
}

.cart-calc div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-btn-container,
.delivery-btn-container {
  justify-content: flex-end;
}

.cart-btn,
.address-btn,
.delivery-btn,
.payment-btn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 50px;
  align-self: flex-start;
  white-space: nowrap;
}

.cart-btn:hover,
.address-btn:hover,
.delivery-btn:hover {
  background-color: rgb(1, 119, 1);
  transition: 0.5s;
}

.address-btn {
  padding: 10px 20px;
}

.cart-btn {
  display: none;
}

.cart-btn.active {
  display: flex;
}

/*Delivery Page Styles*/

.address-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
  position: relative;
}

.address-show {
  display: flex;
  align-items: center;
  gap: 30px;
}

.address-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.address-item {
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 12px 3px #efefef;
  border-radius: 30px;
  padding: 10px;
  font-size: 12px;
}

.address-item i.fa-check-circle {
  color: #0075ff;
  font-size: 16px;
}

.address-item i.fa-trash {
  cursor: pointer;
}

.address-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
  padding: 35px;
  height: 0;
  box-shadow: 0px 0px 12px 3px #efefef;
  transform: scale(0);
  transition: all 0.5s;
  position: relative;
  top: -50%;
  left: 20%;
}

.address-form.active {
  transform: scale(1);
  transition: all 0.5s;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.address-form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.address-form .address-form-btn-container {
  justify-content: flex-end;
  gap: 10px;
}

.default-address-container {
  justify-content: flex-start !important;
}

.default-address-container input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.address-form-btn {
  align-self: flex-end;
  width: 25%;
  margin-top: 10px;
}

.check-product-container {
  box-shadow: 0px 0px 12px 3px #efefef;
  padding: 50px;
  gap: 30px;
  flex-wrap: wrap;
}

.check-product-container div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.check-product-container img {
  width: 84px;
  height: 84px;
  border-radius: 3px;
}

.delivery-btn {
  display: none;
}

.delivery-btn.active {
  display: flex;
}

/*Login Page Styles*/

.login-title {
  text-align: center;
  padding: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 30%;
  background-color: #fff;
  box-shadow: 0px 2px 6px #c8c8c8;
  border-radius: 5px;
  padding: 35px;
}

.login-form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.login-form label {
  width: 50%;
  font-size: 14px;
}

.login-form input {
  width: 100%;
}

.login-form div:last-child {
  font-size: 13px;
}

.register .login-btn-container,
.remember .login-btn-container {
  justify-content: flex-end;
}

.login-btn-container > a {
  font-size: 12px;
  color: blue;
  width: 100%;
}

.login-btn-container .btn {
  width: 30%;
}

/*Register Page Styles*/

.message-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(231, 231, 231, 0.7);
}

.message-container.active {
  display: flex;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 6px #efefef;
  border-radius: 5px;
  padding: 30px;
}

.message span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  font-size: 14px;
}

.message span i {
  font-size: 24px;
  color: green;
}

.fa-warning {
  color: red !important;
}

/*Payment Styles*/
.payment header {
  height: 120px;
  padding: 20px;
}

.shap-logo {
  width: 124px;
  height: 84px;
}

.bank-logo {
  width: 240px;
  height: 84px;
}

.header-title {
  font-weight: 500;
  color: #0e0eae;
}

.right-side,
.left-side {
  background-color: #fff;
  box-shadow: 0px 2px 6px #c8c8c8;
  border-radius: 5px;
  padding: 15px 35px;
}

section.right-side {
  width: 70%;
  flex-direction: column;
  gap: 30px;
}

section.left-side {
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
}

.right-side-title,
.left-side-title {
  border-bottom: 2px solid rgb(221, 221, 221);
  padding-bottom: 10px;
}

.right-side-btn {
  justify-content: flex-end !important;
  gap: 10px !important;
}

.right-side-btn .confirm {
  background-color: #489bc8;
}

.right-side-btn .cancel {
  background-color: red;
}

.second-pass-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.second-pass {
  padding: 5px 15px;
  align-self: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.form-container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.form-container span {
  width: 100%;
}

.form-container div > label {
  display: inline-block;
  width: 30%;
}

.cart-number input {
  width: 15%;
}

.expire-date input {
  width: 20%;
}

.form-container > div > input {
  width: 100%;
}

.reciever-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.reciever-info > div {
  background-color: rgba(231, 231, 231, 0.4);
  padding: 5px 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.reciever-info > div span:first-child {
  display: flex;
  gap: 10px;
  align-items: center;
}

.reciever-info > div span:last-child {
  color: rgb(145, 5, 5);
}

/*Responsive Styles*/

@media screen and (max-width: 1280px) {
  .product-detail-container {
    flex-direction: column;
  }
}
