@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-Medium-FD-WOL.ttf") format("truetype"),
    url("../fonts/Vazir-Medium-FD-WOL.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-Bold-FD-WOL.ttf") format("truetype"),
    url("../fonts/Vazir-Bold-FD-WOL.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-Light-FD-WOL.ttf") format("truetype"),
    url("../fonts/Vazir-Light-FD-WOL.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-Thin-FD-WOL.ttf") format("truetype"),
    url("../fonts/Vazir-Thin-FD-WOL.woff") format("woff");
  font-weight: 200;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: vazir;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  box-shadow: 0px 2px 6px #efefef;
}

.menu ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
}

.left-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar i {
  font-size: 20px;
}
.search-bar input {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  padding: 5px;
}

.cart-icon-container {
  position: relative;
  cursor: pointer;
}

.cart-icon-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: -50%;
  left: 50%;
}

.user-profile {
  font-size: 30px;
  color: #0075ff;
  cursor: pointer;
}
.slide-show img {
  width: 100%;
  height: 200px;
}
.main {
  display: flex;
  /* background-image: url("./images/slider-2.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100%;
}

.main-content {
  display: flex;
  gap: 20px;
}

.filter-bar {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
  gap: 40px;
  padding: 30px 10px;
  box-shadow: 0px 2px 6px #efefef;
}

.filter-bar > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter-bar .price > label,
.filter-bar .style > label {
  font-size: 14px;
  font-weight: 500;
}

.filter-bar .style > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-bar .style > div label {
  width: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 20px 100px;
  background-color: rgba(217, 217, 217, 0.2);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  flex-grow: 1;
  padding: 50px 0;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product img {
  height: 300px;
  border-radius: 3px;
  cursor: pointer;
}

.product-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product button,
.products-detail-caption button {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-detail-container {
  display: flex;
  flex: 100%;
  align-items: center;
  gap: 50px;
  padding: 50px 10px;
}
.product-detail-container img {
  height: 400px;
}

.products-detail-caption {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 30px;
  padding-top: 30px;
}

.product-detail-desc {
  text-align: justify;
  padding: 20px;
  border-right: 1px solid #e7e7e7;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 50px;
  padding: 30px;
  box-shadow: 0px 0px 12px 3px #efefef;
}

.cart-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-list li {
  display: flex;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

.cart-list li img {
  width: 128px;
  height: 128px;
}

.cart-action {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart-action i {
  cursor: pointer;
}
